node_modules
npm-debug.log
pnpm-debug.log
yarn-error.log
.git
.gitignore
.DS_Store
.env*.local
dist
.astro
*.log
.vscode
.idea
README.md
.github
.prettierrc
.prettierignore
.editorconfig
eslint.config.js
