---
import Layout from '../layouts/main.astro';
---

<Layout title="Posts">
  <div id="container" class="font-sans min-h-screen">
    <main class="min-h-screen flex items-center justify-center w-full">
      <section id="hero" class="text-center">
        <h1
          id="name"
          class="text-5xl md:text-6xl font-extrabold mt-0 subpixel-antialiased text-gray-900 dark:text-white"
        >
          Posts
        </h1>
        <h1 class="text-xl mt-4 text-gray-800 dark:text-gray-200">
          Coming soon! <span class="emoji inline-block animate-bounce">🚀</span>
        </h1>
        <p class="text-gray-600 dark:text-gray-400 text-base leading-6 tracking-tight">
          This page is under construction <span>🚧</span>
        </p>
      </section>
    </main>
  </div>
</Layout>
