---
const year = new Date().getFullYear();
---
<footer class="bg-slate-900 text-white">
  <div class="mx-auto flex h-20 max-w-6xl items-center justify-center fluid-small">
    Corey Burns <span class="ml-2 text-red-400">© {year}</span>
  </div>
</footer>
