---
import SocialIcons from "./SocialIcons.astro";
---
<div class="fixed left-0 top-12 hidden md:block h-[calc(100vh-3rem)] w-12 bg-white/70 backdrop-blur-xl"></div>
<div class="fixed right-0 top-12 hidden md:flex h-[calc(100vh-3rem)] w-12 bg-white/70 backdrop-blur-xl items-start justify-center">
  <SocialIcons />
</div>
<div class="fixed bottom-0 left-0 right-0 h-10 sm:h-12 bg-white/80 backdrop-blur-xl md:hidden flex items-center justify-center">
  <div class="flex items-center gap-4">
    <SocialIcons />
  </div>
</div>
